html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  --pink: #ff1c68;
  --green: #14d790;
  --blue: #198fe3;
  --black: #21282d;
  color: #222;
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.header {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.progress-icon {
  height: 30px;
  width: 30px;
  display: inline;
}

.complement {
  height: 3em;
  padding: 5px;
  border: 1px solid black;
}

.request-complement {
  height: 3em;
}
